@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header
{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo
{
    cursor: pointer;
    margin-right: auto;
}

.nav__links
{
    list-style: none;
}

.nav__links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a
{
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover
{
    color: #0088a9;
}

button
{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover
{
    background-color: rgba(0, 136, 169, 0.8);
}

/* Start Modal */

.modal
{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-box
{
    top: 40%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    height: auto;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #50dcfb;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.modal-box.show-modal
{
    top: 50%;
    opacity: 1;
    visibility: visible;
    transition: .4s;
}

.cta.modal-box.show-modal
{
    opacity: 0;
    visibility: hidden;
}

.modal-box .icon1
{
    font-size: 60px;
    background: #24252A;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

form .icon2
{
    position: absolute;
    height: 56px;
    width: 50px;
    background: #48dbfb;
    color: white;
    line-height: 40px;
    font-size: 23px;
    right: 56px;
    margin-top: 0px;
    border-radius: 5px 0 0 5px;
    padding: 0px;
}

.modal-box header
{
    font-size: 31px;
    margin-bottom: 10px;
}

form input, form button
{
    height: 50px;
    width: 85%;
    border-radius: 3px;
}

form input
{
    font-size: 18px;
    align-items: center;
    outline: none;
    border: 2px solid #1ed2fa;
    caret-color: #48dbfb;
}

form button
{
    margin-top: 15px;
    background: #48dbfb;
    color: white;
    font-size: 30px;
    border: 1px solid #1ed2fa;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    margin-left: 0px;
}

form button:hover
{
    border: 1px solid #05cdfa;
    background: #1ed2fa;
}

form input:focus
{
    box-shadow: 0 0 15px #82e6fc,
                0 0 25px #b4f0fd,
                0 0 35px #ffffff;
}

input::placeholder
{
    color: #8c8c8c;
}

.modal-box .fa-times
{
    position: absolute;
    top: 0;
    right: 0;
    background: #48dbfb;
    height: 45px;
    width: 50px;
    line-height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 0 5px 0 50px;
    padding-left: 13px;
    cursor: pointer;
}

.fa-times:hover
{
    font-size: 22px;
}

/* End Modal */